{% extends "base.html" %}

{% block main_content %}

    <div class="card-panel search-recipes yellow darken-3 white-text">
        <div class="container">
            <h1 class="center-align">Cooking Made Simple</h1>
            <form>
                <div class="input-field">
                    <input id="search" type="search">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </div>

    <h2>Categories</h2>
    <div class="row">
        {% for category in categories %}
            <div class="col s6 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ category.category_image }}" alt="{{ category.recipe_category }} Dish">
                    </div>
                    <div class="card-action">
                        <a href="#">{{ category.recipe_category }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}