{% extends "base.html" %}

{% block main_content %}

    <h2>My Recipes</h2>
    <div class="row">
        {% for recipe in recipes %}
            <div class="col s6 m4 l3">
                <div class="card">
                    <div class="card-image">
                        {% if recipe.recipe_image %}
                            <img src="{{ recipe.recipe_image }}" alt="{{ recipe.name }}">
                        {% else %}
                            {% for category in categories %}
                                {% if category.recipe_category == recipe.recipe_category %}
                                    <img src="{{ category.category_image }}" alt="{{ recipe.name }}">
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col">
                                <a href="#">{{ recipe.name }}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <a href="#" class="btn yellow darken-4">
                                    <i class="material-icons">edit</i>
                                </a>
                            </div>
                            <div class="co s6">
                                <a href="#" class="btn red darken-2">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}